<!-- <li>
	<a href="" class="nav-item">Teste</a>
</li>
<li class="first-level-nav">
	<a href="" class="nav-item">Teste</a>
	<ul class="second-nav-list">
		<li>
			<a href="" class="sec-nav-item">Teste-sec</a>
		</li>
		<li>
			<a href="" class="sec-nav-item">Teste-sec</a>
		</li>
		<li>
			<a href="" class="sec-nav-item">Teste-sec</a>
		</li>
	</ul>
</li>

<ul id="nav"></ul> -->

<script id="nav-template" type="x-template">
	<li{{if secNav}} class="first-level-nav"{{/if secNav}}>
		<a href="{{url}}" class="nav-item">{{label}}</a>
		{{if secNav}}<ul class="second-nav-list">{{/if secNav}}
			{{#sec-nav-items-template}}
		{{if secNav}}</ul>{{/if secNav}}
	</li>
</script>

<script id="sec-nav-items-template" type="x-template">
			<li>
				<a href="{{url}}" class="sec-nav-item">{{label}}</a>
			</li>
</script>

<script>

	var data = 	{
		"items":[
			{
				"label":"WORK",
				"url":"#/work",
				"items":[]
			},
			{
				"label":"ABOUT(internal)",
				"url":"#/about",
				"items":[
					{
						"label":"What we do",
						"url":"#/about/what-we-do"
					},
					{
						"label":"How we work",
						"url":"#/about/how-we-work"
					},
					{
						"label":"Leadership",
						"url":"#/about/leadership"
					}
				]
			}
			,
			{
				"label":"Careers",
				"url":"#/careers",
				"items":[
					{
						"label":"Client Services",
						"url":"#/careers/client-services"
					},
					{
						"label":"Creative",
						"url":"#/careers/creative"
					},
					{
						"label":"Motion & Media",
						"url":"#/careers/motion-and-media"
					},
					{
						"label":"Operations",
						"url":"#/careers/operations"
					},
					{
						"label":"People",
						"url":"#/careers/people"
					},
					{
						"label":"Strategy",
						"url":"#/careers/strategy"
					},
					{
						"label":"Technology",
						"url":"#/careers/technology"
					},
					{
						"label":"UX & Product Design",
						"url":"#/careers/ux-and-product-design"
					}
				]
			},
			{
				"label":"Ideas",
				"url":"#/ideas",
				"items":[
					{
						"label":"Reports",
						"url":"#/ideas/reports"
					},
					{
						"label":"Perspectives",
						"url":"#/ideas/perspectives"
					},
					{
						"label":"Books",
						"url":"#/ideas/books"
					},
					{
						"label":"Videos",
						"url":"#/ideas/videos"
					}
				]
			},
			{
				"label":"News",
				"url":"#/news",
				"items":[]
			},
			{
				"label":"Events",
				"url":"#/events",
				"items":[]
			},
			{
				"label":"Contact",
				"url":"#/contact",
				"items":[
					{
						"label":"Atlanta",
						"url":"#/contact/atlanta"
					},
					{
						"label":"Brooklyn",
						"url":"#/contact/brooklyn"
					},
					{
						"label":"DC",
						"url":"#/contact/dc"
					},
					{
						"label":"London",
						"url":"#/contact/london"
					},
					{
						"label":"Los Angeles",
						"url":"#/contact/los-angeles"
					},
					{
						"label":"Portland",
						"url":"#/contact/portland"
					},
					{
						"label":"Rio",
						"url":"#/contact/rio"
					},
					{
						"label":"San Francisco",
						"url":"#/contact/san-francisco"
					}
				]
			}
		]
	};

	function renderTemplate(rawTemplate, data) {
		var output = [],
			snippet;

		if(Object.prototype.toString.call(data) === '[object Array]') { //if data is array and not empty
			data.forEach(function(item) { //for each data item
				snippet = rawTemplate;

				if (item && item.items && item.items.length) {//if there are subitems
					snippet = snippet.replace(/\{\{if secNav\}\}/g, '');//maintains conditional subitems htmls
					snippet = snippet.replace(/\{\{\/if secNav\}\}/g, '');
				} else {
					snippet = snippet.replace(/\{\{if secNav\}\}(.+?)\{\{\/if secNav\}\}/g, '');//removes conditional subitems htmls
				}
				
				snippet = snippet.replace(/\{\{url\}\}/g, item.url); //replaces url
				snippet = snippet.replace(/\{\{label\}\}/g, item.label); //replaces label

				if(item && item.items) {//if there are subitems
					snippet = snippet.replace(
						/\{\{#sec-nav-items-template\}\}/g, //replaces subitems placeholder
						renderTemplate(document.querySelector('#sec-nav-items-template').text, item.items) 
						//for subitems rendered templates, calling this function again recursively with new template and internal items data
					);
				}

				output.push(snippet);
			});
		}

		return output.join('')
	}

	var navTemplate = document.querySelector('#nav-template').text;

	var navOutput = renderTemplate(navTemplate, data.items);

</script>

<script>


	// var MyModule = (function(Ajax, $win, $doc){

	// 	function init() {
	// 		bindEvents();
	// 	}

	// 	function get() {}

	// 	return {
	// 		init : init
	// 	}

	// })(window, document, Ajax);


	// Template.prototype.checkRepeatable = function(rawTemplate) {

	// 	// var regex = /\{\{repeat\ (.+?)\}\}([\s\S]*?)\{\{\/repeat\ (.+?)\}\}/m,
	// 	// 	matchOutput = rawTemplate.match(regex),
	// 	// 	outputRepeatName,
	// 	// 	outputContent,
	// 	// 	outputRepeatNameClose;

	// 	// if (matchOutput && matchOutput.length) {
	// 	// 	outputRepeatName = matchOutput[0];
	// 	// 	outputContent = matchOutput[1];
	// 	// 	outputRepeatNameClose = matchOutput[2];

	// 	// 	console.log(outputRepeatName, '\n----\n',
	// 	// 	outputContent, '\n----\n',
	// 	// 	outputRepeatNameClose);
	// 	// }

	// 	// console.log(rawTemplate.search(/\{\{repeat\ (.+?)\}\}/g));

	// 	var regex = /\{\{repeat\ (.+?)\}\}/g,
	// 		openRepeat


	// }

</script>