@import "reset";
@import "fonts.css";

//fonts
$main-font-family: 'Galaxie', sans-serif;
$sec-font-family: 'HUGEAvantGardeBold', sans-serif;
$discreet-font-family: 'Helvetica Neue', sans-serif;

//colors
$lightest-color: #fff; //white
$darkest-color: #000; //black
$highlight-color: #ec008c; //pink
$overlay-color: rgba(0, 0, 0, 0.5); //translucent black;
$effect-color: #eee; //light grey

//animations
@mixin transition($attribute, $animation-duration:.3s) {
	-webkit-transition: $attribute $animation-duration; /* Safari */
	transition: $attribute $animation-duration;
}

//reset
html {
	overflow-y: scroll;
}

body {
	margin: 0;
	font-family: $main-font-family;
}

a {
	text-decoration: none;
}

//header
.header {
	position: relative;
	z-index: 3;

	&.open {
		position: absolute;
	    height: 100%;
	    width: 100%;

		.menu {
			right: 0;
			margin-right: 0;

			.img-close {
				display: block;
			}

			.img-open {
				display: none;
			}
		}

		.logo {
			left: 0;
		}

		.navigation {
			width: 100%;
		}
	}
}

.logo-wrapper {
	background-color: $highlight-color;
	height: 72px;
	position: relative;
}

.img-logo {
	width: 60px;
}

.logo {
	@include transition(left);
	left: -200px;
	padding: 24px;
	position: absolute;
}

.menu {
	@include transition(right);
	display: inline-block;
	margin-right: -72px;
	position: absolute;
	right: 100%;
	width: 72px;

	.img-close {
		display: none;
	}
}

.navigation {
	@include transition(width);
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 0;

	.nav-list-wrapper {
		box-sizing: border-box;
		height: 100%;
		overflow: hidden;
		position: relative;
		width: 100%;
	}

	.navigation-list {
		background: $lightest-color;
		height: 100%;
		margin: 0;
		padding-bottom: 48px;
		padding-left: 0;
		padding-top: 12px;
		position: absolute;
		width: 80%;
		z-index: 3;

		> li {
			list-style: none;
			position: relative;

			.nav-item {
				@include transition(background);
				color: $darkest-color;
				display: block;
				font-family: $sec-font-family;
				font-size: 21px;
				height: 48px;
				line-height: 48px;
				padding: 0 24px;

				&:hover {
					background-color: $effect-color;
				}

				&.loading {
					font-family: $main-font-family;

					&:hover {
						background-color: transparent;
					}
				}
			}

			&.first-level-nav {
				&.open {
					.second-nav-list {
						height: auto;
					}

					&:after {
						-ms-transform: rotate(180deg); /* IE 9 */
					   	-webkit-transform: rotate(180deg); /* Safari */
					    transform: rotate(180deg);
					}
				}

				&:after {
					@include transition(transform); 
					background-image: url("/images/chevron-down.svg");
					background-position: center center;
					background-repeat: no-repeat;
					background-size: contain;
					content: "";
					display: block;
					height: 24px;
					position: absolute;
					right: 12px;
					top: 12px;
					width: 24px;
				}
			}
		}
	}

	.second-nav-list {
		@include transition(height);
		height: 0;
		overflow: hidden;
		padding-left: 0;

		> li {
			list-style: none;

			.sec-nav-item {
				@include transition(background);
				@include transition(color);
				color: $darkest-color;
				display: block;
				font-family: $main-font-family;
				font-size: 16px;
				font-weight: normal;
				height: 48px;
				line-height: 48px;
				padding: 0 24px;
				white-space: nowrap;

				&:hover {
					background-color: $effect-color;
					color: $highlight-color;
				}
			}
		}
	}
}

.copyright {
	bottom: 0;
	font-size: 12px;
	height: 48px;
	left: 24px;
	line-height: 48px;
	margin-bottom: 0;
	position: absolute;
	z-index: 3;
}

//content
.overlay {
	@include transition(display);
	background: $overlay-color;
	display: none;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 2;

	&.mobile.open {
		display: block;
	}

	&.desktop {
		display: none;
	}
}

.section {
	overflow: hidden;
	position: relative;
}

.main-title {
	font-family: $sec-font-family;
	font-size: 44px;
	line-height: 48px;
}

.img-title-wrapper {
	background-image: url("../images/background-image.jpg");
	background-repeat: no-repeat;
	height: 240px;
	background-size: cover;
	background-position: center;
}

.content-wrapper {
	padding: 0 24px;
}

.main-paragraph {
	text-align: justify;
	font-size: 14px;
	line-height: 24px;
}

@media (min-width: 768px) { //desktop
	.header {
		background-color: $highlight-color;
		height: 72px;
	}

	.logo-wrapper {
		background-color: transparent;
		display: inline-block;
		height: 72px;
		width: 132px;
	}

	.logo {
		display: block;
		left: auto;
	}

	.menu,
	.copyright {
		display: none;
	}

	.overlay {
		&.mobile.open {
			display: none;
		}

		&.open.desktop {
			display: block;
		}
	}

	.navigation {
		background-color: transparent;
		display: inline-block;
		font-size: 0;
		height: auto;
		overflow: visible;
		position: static;
		vertical-align: top;
		width: auto;

		.nav-list-wrapper {
			background-color: transparent;
			display: inline-block;
			height: auto;
			overflow: visible;
			padding: 0;
			position: static;
			width: auto;
		}

		.navigation-list {
			padding: 0;
			background-color: transparent;

			> li {
				display: inline-block;
				vertical-align: top;

				.nav-item {
					@include transition(color);
					color: $lightest-color;
					line-height: 52px;
					padding: 12px 17px;
					font-size: 15px;

					&:hover {
						color: $highlight-color;
					}

					&.loading {
						&:hover {
							color: $lightest-color;
						}
					}
				}

				&.first-level-nav {
					position: relative;

					&.open {
						.nav-item {
							color: $highlight-color;
							background-color: $effect-color;
						}
					}

					&:hover {
						.second-nav-list {
							display: block;
						}
					}

					&:after {
						content: none;
					}
				}
			}
		}

		.second-nav-list {
			background-color: $effect-color;
			left: 0;
			padding-left: 0;
			position: absolute;
			top: 72px;
			z-index: 2;
		}
	}

	//content
	.main-title-wrapper {
		align-items: center;
		display: flex;
		height: 640px;
		justify-content: center;
		margin-bottom: 60px;

		.content-wrapper {
			z-index: 1;
		}
	}

	.img-title-wrapper {
		height: 640px;
		position: absolute;
		width: 100%;
		z-index: 0;
	}

	.content-wrapper {
		margin: 0 auto;
		max-width: 968px;
	}

	.main-title {
		color: $lightest-color;
		font-size: 120px;
		line-height: 132px;
		text-align: center;
	}

	.main-paragraph {
		font-size: 24px;
		line-height: 36px;
	}
}

@media (min-width: 1040px) { //desktop
	.navigation {
		.navigation-list {
			> li {
				.nav-item {
					font-size: 21px;
					padding: 12px 24px;
				}
			}
		}
	}
}
